.gridContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.title {
  margin-bottom: 20px;
}

.gridBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movieItem {
  max-width: 200px;
}

.moviesGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 93px;
}

.button {
  background-color: transparent;
  border: none;
  color: var(--color-blue);
}