.movieLink {
  display: flex;
  flex-direction: column;
}

.movieImg {
  border-radius: var(--border-radius);
  margin-bottom: 8px;
}

.movieTitle {
  color: var(--color-blue);
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.movieInfo {
  max-width: 200px;
  font-size: 14px;
}

.movieYear {}

.movieGenres {}