// Open Sans
@font-face {
  font-family: 'Open Sans';
  src: url('@/shared/assets/fonts/OpenSans-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('@/shared/assets/fonts/OpenSans-SemiBold.woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('@/shared/assets/fonts/OpenSans-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}

// Orbitron

@font-face {
  font-family: 'Orbitron';
  src: url('@/shared/assets/fonts/Orbitron-Medium.woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('@/shared/assets/fonts/Orbitron-SemiBold.woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('@/shared/assets/fonts/Orbitron-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}