@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/media' as *;

html {

}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-size: 15px;
  font-weight: 400;
  color: var(--color-white);
  background-color: var(--color-dark-100);
}

.title-primary {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font-family-accent);
}

h1,
.h1 {
  @include fluid-text(40, 28);
}

h2,
.h2 {
  @include fluid-text(36, 24);
}

h3,
.h3 {
  @include fluid-text(25, 20);
}

h4,
.h4 {
  @include fluid-text(18, 16);

  font-weight: 700;
  line-height: 100%;
}

h5,
.h5 {
  @include fluid-text(18, 15);
  font-weight: 600;
  line-height: 100%;
}

h6,
.h6 {
  @include fluid-text(18, 16);
}

p:not([class]) {

}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  text-decoration: none;


  @include hover {
    color: var(--color-blue);
  }
}

:focus-visible {
  @include focus-visible;
}